<header class="pt-3.5 w-full flex flex-col space-y-3.5 justify-center items-center">
  <p class="text-sm font-regular"><span class="font-semibold text-[#363636]">Beehiiv Support Demo</span> - <a href="https://github.com/mustafaaljadery" target="_blank" rel="noopener noreferrer" class="font-medium hover:text-blue-600">Max Aljadery</a></p>
  <hr class="w-full"/>
</header>